@font-face {
  font-family: "Marvel";
  src: url("./assets/MarvelRegular-Dj83.ttf");
}

@font-face {
  font-family: "Roboto-Body";
  src: url("./assets/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Title";
  src: url("./assets/Roboto-BoldCondensed.ttf");
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(239, 19, 29);
  height: 50px;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.max-width {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1000px;
  width: 100%;
}

.logo {
  color: white;
  font-family: "Marvel";
  font-size: 40px;
  margin: 0px;
  display: flex;
  align-self: flex-end;
}

.label-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  width: 50%;
  background-color: white;
  border-radius: 2px;
}

.input-header {
  width: 85%;
  border: none;
  font-family: "Roboto-Body";
  font-size: 12px;
  color: rgb(239, 19, 29);
  outline: none;
}

.search-icon {
  width: 25px;
  cursor: pointer;
}

::placeholder {
  color: rgba(239, 19, 29, 0.6);
}

.main-comics {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.max-width-main {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
}

.thumbnails {
  width: 80%;
  cursor: pointer;
}

.each-comic {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.each-comic:hover {
  transform: scale(1.1);
  color: rgb(239, 19, 29);
}

.list-creator {
  list-style: none;
}

.max-width-button {
  max-width: 1000px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  margin-bottom: 10px;
}

.button-comics {
  width: 35%;
  background-color: rgb(239, 19, 29);
  border: none;
  border-radius: 2px;
  height: 40px;
  color: white;
  cursor: pointer;
  font-family: "Roboto-Title";
  font-size: 20px;
  outline: none;
}

.p-margin {
  margin: 0px;
}

.p-font-bold {
  font-family: "Roboto-Title";
  font-size: 14px;
}

.p-font-body {
  font-family: "Roboto-Body";
  font-size: 10px;
}

.p-align {
  align-self: center;
}

.diplay-none {
  display: none;
}

.max-width-return {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  text-align: center;
}

.return-icon {
  width: 15%;
  cursor: pointer;
}

.return-icon:hover {
  transform: scale(1.1);
}

.img-detailed {
  width: 95%;
}

.width-aside {
  width: 100%;
}

.font-roboto-title {
  font-family: "Roboto-Title";
}

.font-roboto-body {
  font-family: "Roboto-Body";
}

.font-size-margin {
  font-size: 18px;
  margin-top: 10px;
}

.font-size-body {
  font-size: 12px;
}

.font-marvel {
  font-family: "Marvel";
}

.font-size-title {
  font-size: 25px;
}

@media only screen and (min-width: 800px) {
  .header {
    height: 100px;
  }
  .logo {
    font-size: 80px;
  }
  .input-header {
    font-size: 15px;
    width: 90%;
  }
  .search-icon {
    width: 45px;
  }
  .main-comics {
    margin-top: 120px;
    justify-content: center;
  }
  .max-width-main {
    flex-flow: wrap;
    justify-content: space-around;
  }
  .each-comic {
    width: 18%;
    margin-bottom: 10px;
  }
  .thumbnails {
    height: 65%;
    width: 100%;
  }
  .max-width-button {
    width: 30%;
  }
  .button-comics {
    width: 40%;
  }
  .return-icon {
    width: 5%;
  }
  .max-width-return {
    flex-direction: row;
    text-align: left;
  }
  .width-aside {
    width: 100%;
  }
}